<div class="container-fluid">
    <img class="img-responsive" src="images/minesMap.png">
    <ul class="list-unstyled list-directions">
        <li ng-repeat="step in getDirections()">{{step}}</li>
    </ul>
</div>
