<div class="container text-center">
	<p class="feedback">Your Move In date is Thursday, August 18th from 8am - 5pm</p>
</div>
<div class="container">
    <ul class="list-unstyled">
        <li ng-repeat="(hall, directions) in hallDirectionMapping">
        <p class="hall"><span>{{hall}}</span></p>
            <ul class="list-unstyled">
                <li ng-repeat="direction in directions"><span class="number">{{$index + 1}}.</span> {{direction}}</li>
            </ul>
        </li>
    </ul>
</div>
