<div class="container" ng-controller="ChecklistCtrl">
    <p class="directions">Click an item to check / uncheck it.</p>
    <ul class="list-unstyled checklist">
        <li ng-repeat="item in checklist" ng-click="toggleCheck(item.id)" ng-class="getChecked(item.id)" ng-attr-id="{{$index}}">
        	<span class="glyphicon glyphicon-unchecked" ng-show="getChecked(item.id) != 'checked'"></span>
            <span class="glyphicon glyphicon-check" style="margin-right: 5px;" ng-show="getChecked(item.id) == 'checked'"></span>{{item.text}}
        </li>
    </ul>
</div>

