<div class="container">
    <p>Which <span class="orange-text">residence hall</span> is the student moving into?</p>
    <ul class="list-unstyled my-list-style">
        <li ng-click="setHall($event)">Traditional Halls</li>
        <li ng-click="setHall($event)">Weaver Towers</li>
        <li ng-click="setHall($event)">Maple Hall</li>
        <li ng-click="setHall($event)">Aspen Hall</li>
        <li ng-click="setHall($event)">Elm Hall</li>
    </ul>
</div>