.title {
    color: #92A2BD;
    border-bottom: 1px solid #92A2BD;
}

ul.my-list-style li {
    background: #263F6A;
    color: #FFFFFF;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.focus-area {
    padding: 5px;
    border-left: 5px solid #D2492A;
}

.feedback {
    font-size: 24px;
    color: #FFC8A9;
    padding: 1em;
    background: #D2492A;
    line-height: 2em;
}

.orange-text {
    color: #D2492A;
}

.rsl-head {
    margin-bottom: 50px;
}

ul.checklist li {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #E8E8E8;
}

.checked {
    background: #D2492A !important;
    color: #FFFFFF;
}

ul.list-directions li {
    margin: 15px;
    font-size: 16px;
}

span.number {
    color: #92A2BD;
}

p.hall {
    color: #D2492A;
    padding: 0.5em;
    border-bottom: 1px solid #263F6A;
}

p.hall span {
    padding: 0.5em;
    border-bottom: 3px solid #263F6A;
}


