<div class="container">
    <p class="directions">Welcome. Just a few things to get you started...</p>
    <ul class="list">
        <li>You can return to this page or call us using the buttons at the top</li>
        <li>Your <a href="/#/checklist">checklist</a> is saved, so you can close this page and come back anytime without losing changes</li>
	<li>You may purchase linens from <a href="http://www.ocm.com/cde" target="_blank">OCM(On-Campus Marketing)</a> and rent/purchase microfridges from <a href="https://www.collegeproducts.com/store/orediggers/" target="_blank">College Products</a>. All purchases benefit the Residence Hall Association(RHA).</li>
    </ul>
    <div class="row">
        <div class="col-xs-12 text-center">
	<a href ="https://inside.mines.edu/orientation" target="_blank"><button class="btn btn-block btn-primary">Summer Orientation</button></a>
		<br>
            <a href="/#/tlc-is-select"><button class="btn btn-block btn-primary">Click here to move in</button></a>
            <br>
            <a href="/#/checklist"><button class="btn btn-block btn-default">Click here to see your checklist</button></a>
        </div>
    </div>
</div>
