<div class="container">
    <p>Are you a member of a <span class="orange-text">TLC</span> or an <span class="orange-text">International Student</span>?</p>
    <ul class="list-unstyled my-list-style">
        <a href="/#/tlc-is"><li>I am a member of a Theme Learning Community.</li></a>
       	<a href="/#/tlc-is"><li>I am an International Student.</li></a>
       	<a href="/#/no-tlc-is"><li>Neither.</li></a>
    </ul>
</div>
